.square {
  border: 1px solid black;
  height: 46px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1, h4, h5, p {
  /*font-family: 'Audiowide', cursive;*/
  font-family: 'Press Start 2P', cursive;

}

h2 {
  font-family: 'Press Start 2P', cursive;
  margin-top: 30px;
}

a {
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

button {
  font-family: 'Press Start 2P', cursive;
}

#about-link {
  margin-right: 25px;
  color: blue;
}

#homepage-ship {
  width: 800px; 
  height: 500px;
}

.gameboard {
  max-width: 100%;
  max-height: 100%;
}

#about { 
  color: black;
  font-family: 'Press Start 2P', cursive;
 }

#AboutModalLabel {
  color: black;
  font-family: 'Press Start 2P', cursive;
}

#InstructionsModalLabel {
  color: black;
  font-family: 'Press Start 2P', cursive;
}