body {
  background: black;
}

/*HEADER*/
.App {
  text-align: center;
}

.App-header {
  background-color: black;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3.5em;
  color: white;
}

#about-link {
  margin-right: 25px;
  color: blue;
}

/*GENERAL*/
h1 {
  font-family: 'Press Start 2P', cursive;
  color: yellow;
}

h2 {
  font-family: 'Press Start 2P', cursive;
  margin-top: 30px;
  color: blue;
}

.sink-enemy {
  color: orange;
}

h4 {
  font-family: 'Press Start 2P', cursive;
  color: white;
}

h5 {
  font-family: 'Press Start 2P', cursive;
  color: white;
}

p, h3 {
  font-family: 'Press Start 2P', cursive;
  color: white;
}

ul {
  font-family: 'Press Start 2P', cursive;
  color: white;
  text-align: right;
}

a {
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

button, .btn {
  font-family: 'Press Start 2P', cursive;
  margin: 5px;
}

#homepage-ship {
  width: 800px; 
  height: 500px;
}

hr {
  background-color: white;
}


/*GRIDS*/
.square {
  border: 1px solid white;
  height: 46px;
}

.gameboard {
  max-width: 100%;
  max-height: 100%;
}

.all-letters-col {
  padding-top: 110px;
}

.one-letter {
  line-height: 39px;
}

.col-md-11 {
  padding: 0px;
}

.one-number {
  margin-left: 40px;
}

.all-numbers-row {
  margin-bottom: 5px;
}


/*MODALS*/
#about { 
  color: black;
  font-family: 'Press Start 2P', cursive;
  text-align: left
 }

#AboutModalLabel {
  color: black;
  font-family: 'Press Start 2P', cursive;
}

.about-button {
  margin-right: 10px;
}

#InstructionsModalLabel {
  color: black;
  font-family: 'Press Start 2P', cursive;
}

.instructions {
  color: black;
  font-family: 'Press Start 2P', cursive;
  text-align: left;
  margin-bottom: 15px
}

.outcome-footer {
  justify-content: center;
}
